html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar--computadoras {
  display: none;
}

.logoUsuario {
  width: 25px;
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(41, 41, 41);
}

.contenidoFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.contenidoFooter > div {
  color: white;
  padding-right: 5px;
  padding-left: 5px;

}

.redes > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.redes > a > img {
  padding: 10px;
}

.footer2 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(17, 17, 17);
}

.contenidoFooter2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}

.contenidoFooter2 > div {
  color: white;
  padding: 5px;
}


.sub-cuerpo {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

.sub-cuerpo > h3 {
  padding-left: 20px;
}

@media only screen and (min-width: 420px) {
  .navbar--moviles {
      display: none;
  }
  
  .navbar--computadoras {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #2196f3;
      width: 100%;
      position: fixed;
      -webkit-box-shadow: 10px 10px 22px -15px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 22px -15px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 22px -15px rgba(0,0,0,0.75);
  }

  .navbar--computadoras--nombre {
      padding-left: 10px;
      padding-right: 10px;
      color: white;
      font-size: 18px;
      font-weight: bolder;
  }

  .navbar--computadoras--boton {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: white;
      cursor: pointer;
      margin-right: 15px;
      margin-left: 15px;
  }

  .navbar--computadoras--boton:hover {
      color: rgb(0, 0, 0);
  }

  .navbar--computadoras--boton > p {
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 12px;
      margin-bottom: 3px;
  }

  .navbar--computadoras--division {
      color: white;
  }

  .sub-inicio {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
  }

  .sub-cuerpo {
      max-width: 745px;
  }

  .sub-cuerpo > h3 {
      padding: 0;
  }
}

/*Inicio Css*/

.cuerpo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 18px;
}

.contenido {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logoUsuario {
  width: 25px;
}

.imglogo {
  width: 100%;
  max-width: 420px;
} 

.contenerdorTextos {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  text-indent: 30px;
}

.textos > h2 {
  text-align: center;
  text-indent: 0px;
  font-size: 30px;
  font-family: 'Redressed', cursive;
}

.contenedorNoticias--titulo {
  width: 100%;
  padding: 1px;
  color: black;
}

.contenedorNoticias--titulo > h3 {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.contenedorNoticias--titulo2 {
  margin-left: 15px;
}

@media only screen and (min-width: 420px) {
  .imglogo {
      margin-top: 30px;
      border-radius: 15px;
      width: 100%;
      max-width: 420px;
  } 

  .inicio {
      display: flex;
      justify-content: space-around;
  }

  .cuerpo {
      max-width: 745px;
  }
  
}

.contenedor--noticias {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contador {
  display: none;
}

.Asd-computadora {
  display: none;
}

@media only screen and (min-width: 420px) {
  .Asd-computadora {
      color: white;
      display: block;
      margin: 20px;
      padding: 10px;
      margin-top: 85px;
      width: 320px;
      border: 1px solid black;
      border-radius: 5px;
      background: #bdc3c7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      height: 100%;
  }

  .Asd-computadora--p {
      font-size: 30px;
      font-family: 'Redressed', cursive;
      font-weight: bolder;
  }
}

.Ads {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ImagenAds {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}

.Ads-movil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.ImagenAdsMovil {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}

@media only screen and (min-width: 420px) {
  .Ads-movil {
      display: none;
  }
}

.noticia--indivudual {
  width: 320px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  box-shadow: 2px 2px 10px #666;
  cursor: pointer;
}

.noticia--indivudual:hover {
  box-shadow: 5px 5px 16px rgb(0, 0, 0);
}

.titulo--noticia {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  color: white;
  height: 60px;
  width: 100%;
}

.titulo--noticia > p {
  margin-left: 10px;
}

.politicaDePrivacidad {
  padding: 25px;
  text-align: justify;
  text-indent: 40px;
}

.politicaDePrivacidad > h4 {
  text-indent: 0px;
}

.cuerpo--noticias {
  margin-top: 55px;
}

.cuerpo--noticias--imagen {
  width: 100%;
  max-width: 420px;
}

.cuerpo--noticias--titulo__fecha {
  width: 100%;
  background-color: #e3f2fd;
}

.cuerpo--noticias--titulo {
  font-size: 20px;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: -5px;
}

.cuerpo--noticias--fecha {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.cuerpo--noticias--desarrollo {
  padding-left: 20px;
  padding-right: 20px;
}

.cuerpo--noticias--desarrollo--parrafo {
  text-align: justify;
  padding-bottom: 10px;
  text-indent: 30px;
  line-height: 1.5em; 
}

.cuerpo--noticias--autor {
  text-align: right;
  padding: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
}

@media only screen and (min-width: 420px) {
  .cuerpo--noticias--imagen {
      margin-top: 30px;
      width: 100%;
      max-width: 570px;
      border-radius:5px 5px 0px 0px;
  } 

  .cuerpo--noticias--titulo__fecha {
      border-radius:0px 0px 5px 5px;
      margin: 0px;
      width: 95%;
      margin-bottom: 30px;
  }

  .inicio {
      display: flex;
      justify-content: space-around;
  }

  .cuerpo--noticias {
      max-width: 600px;
  }

  .cuerpo--noticias--cabecera {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
}